# 필요한 라이브러리들 불러오기

In [74]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import glob
import matplotlib as mpl
%matplotlib inline

In [75]:
plt.rc("font", family = "Malgun Gothic") #맑은 고딕
plt.rc("axes", unicode_minus = False)
plt.style.use("fivethirtyeight")
mpl.rcParams['axes.unicode_minus'] = False

# 데이터 불러오기

In [28]:
# 엑셀 테이터 파일명 리스트 생성
files=glob.glob('상품 카테고리 데이터_KDX 시각화 경진대회 Only/[!K]*.xlsx')

In [29]:
# 카테고리 데이터 불러와서 리스트로 저장
category_data_all = [pd.read_excel(filename) for filename in files]

# 데이터를 하나의 데이터 프레임으로 합치기

In [30]:
online_all = category_data_all[0]
for i in range(1, len(category_data_all)):
    online_all = pd.concat([online_all, category_data_all[i]])

# 온라인 데이터 카테고리를 쿠팡 기준으로 합치기

In [31]:
# 온라인 카테고리명 리스트 생성 및 출력
category_all = online_all['카테고리명'].unique()

In [32]:
online_all

           구매날짜     카테고리명 고객성별  고객나이     OS유형       구매금액  구매수
0      20190101   PC/사무기기    F    10      IOS     352443   13
1      20190101   PC/사무기기    F    10  WINDOWS      84000    1
2      20190101   PC/사무기기    F    10    안드로이드      80870    8
3      20190101   PC/사무기기    F    10       없음       3700    1
4      20190101   PC/사무기기    F    20      IOS   27714776  381
...         ...       ...  ...   ...      ...        ...  ...
32656  20200630  휴대폰/악세서리    M    80    안드로이드      31380    2
32657  20200630  휴대폰/악세서리   없음     0      IOS    1775066   53
32658  20200630  휴대폰/악세서리   없음     0  WINDOWS  415726991  799
32659  20200630  휴대폰/악세서리   없음     0    안드로이드    7062805  105
32660  20200630  휴대폰/악세서리   없음     0       없음    4453513    4

[1837833 rows x 7 columns]

In [34]:
online_all=online_all.drop(['OS유형','구매금액'],axis=1)
online_all

           구매날짜     카테고리명 고객성별  고객나이  구매수
0      20190101   PC/사무기기    F    10   13
1      20190101   PC/사무기기    F    10    1
2      20190101   PC/사무기기    F    10    8
3      20190101   PC/사무기기    F    10    1
4      20190101   PC/사무기기    F    20  381
...         ...       ...  ...   ...  ...
32656  20200630  휴대폰/악세서리    M    80    2
32657  20200630  휴대폰/악세서리   없음     0   53
32658  20200630  휴대폰/악세서리   없음     0  799
32659  20200630  휴대폰/악세서리   없음     0  105
32660  20200630  휴대폰/악세서리   없음     0    4

[1837833 rows x 5 columns]

In [35]:
online_all.rename(columns = {'구매날짜' : '소비일자','카테고리명':'업종','고객성별':'성별','구매수':'소비건수','고객나이':'연령대'}, inplace = True)
online_all

           소비일자        업종  성별  연령대  소비건수
0      20190101   PC/사무기기   F   10    13
1      20190101   PC/사무기기   F   10     1
2      20190101   PC/사무기기   F   10     8
3      20190101   PC/사무기기   F   10     1
4      20190101   PC/사무기기   F   20   381
...         ...       ...  ..  ...   ...
32656  20200630  휴대폰/악세서리   M   80     2
32657  20200630  휴대폰/악세서리  없음    0    53
32658  20200630  휴대폰/악세서리  없음    0   799
32659  20200630  휴대폰/악세서리  없음    0   105
32660  20200630  휴대폰/악세서리  없음    0     4

[1837833 rows x 5 columns]

In [36]:
# 대분류 생성 함수 정의
def online_to_coupang(category_list,big_category):
    for i in category_list:
        online_all.loc[online_all['업종'].str.contains(category_all[i]), '업종'] = big_category

In [37]:
# 대분류 번호 지정
digital=[0,1,14,6,58,20,46,63,41,22,23,28,56,57,47,42]
baby=[43,44,54]
beauty=[61,32,18]
food=[2,5,15,45]
kitchen=[53,52,51,50]
fashion=[3,13,34,35,37,39,60]
sports=[7,9,11,12,17,30,31,33,49,62,4,59]
toy=[8,19,55,40]
book=[16]
pet=[21]
life=[24,26,36,38,27,29]
car=[48]
tour=[10,25]

In [38]:
# 대분류 생성
online_to_coupang(digital, '가전/가구/홈인테리어')
online_to_coupang(baby, '출산/유아동')
online_to_coupang(beauty, '미용')
online_to_coupang(food, '식품')
online_to_coupang(kitchen, '주방용품')
online_to_coupang(fashion, '패션의류/잡화')
online_to_coupang(sports, '스포츠/레저')
online_to_coupang(toy, '완구/취미')
online_to_coupang(book, '도서/음반/DVD')
online_to_coupang(pet, '반려동물용품')
online_to_coupang(life, '생활용품')
online_to_coupang(car, '자동차용품')
online_to_coupang(tour, '여행/티켓')

In [39]:
online_all.head()

       소비일자           업종 성별  연령대  소비건수
0  20190101  가전/가구/홈인테리어  F   10    13
1  20190101  가전/가구/홈인테리어  F   10     1
2  20190101  가전/가구/홈인테리어  F   10     8
3  20190101  가전/가구/홈인테리어  F   10     1
4  20190101  가전/가구/홈인테리어  F   20   381

In [41]:
online_all['업종'].unique()

array(['가전/가구/홈인테리어', '식품', '패션의류/잡화', '스포츠/레저', '완구/취미', '여행/티켓',
       '도서/음반/DVD', '미용', '반려동물용품', '생활용품', '출산/유아동', '자동차용품', '주방용품'],
      dtype=object)

# 컬럼 수정

In [43]:
# 널 여부 확인
online_all['소비일자'].isnull().sum()

0

In [44]:
#datetime 바꾸기
online_all['소비일자']=online_all['소비일자'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

In [45]:
online_all.head()

        소비일자           업종 성별  연령대  소비건수
0 2019-01-01  가전/가구/홈인테리어  F   10    13
1 2019-01-01  가전/가구/홈인테리어  F   10     1
2 2019-01-01  가전/가구/홈인테리어  F   10     8
3 2019-01-01  가전/가구/홈인테리어  F   10     1
4 2019-01-01  가전/가구/홈인테리어  F   20   381

In [50]:
#년도와 주를 따로 column으로 만들고 2020년도에 해당하는 경우 주차에 52를 더해준다.
#2019년 12월 30,31일은 1주차로 인식이 되기 때문에 52를 따로 더해준다.
#2020년 6월 29,30일은 79주차로 2일밖에 없기에 시각화에 적합하지 않다. 
online_all['년도']=online_all['소비일자'].dt.year
online_all['월']=online_all['소비일자'].dt.month
online_all['주']=online_all['소비일자'].dt.week
online_all.loc[online_all['년도']==2020,'주']+=52
online_all.loc[online_all['소비일자'].isin(['2019-12-30','2019-12-31']),'주']+=52
online_all_79=online_all[online_all['주']==79].index
online_all=online_all.drop(online_all_79)

In [68]:
online_all[online_all['주']==52]

            소비일자           업종 성별  연령대  소비건수    년도   월   주
21046 2019-12-23  가전/가구/홈인테리어  F   10   118  2019  12  52
21047 2019-12-23  가전/가구/홈인테리어  F   10     3  2019  12  52
21048 2019-12-23  가전/가구/홈인테리어  F   10    18  2019  12  52
21049 2019-12-23  가전/가구/홈인테리어  F   20   527  2019  12  52
21050 2019-12-23  가전/가구/홈인테리어  F   20   108  2019  12  52
...          ...          ... ..  ...   ...   ...  ..  ..
21704 2019-12-28  가전/가구/홈인테리어  F   70     1  2019  12  52
21780 2019-12-29  가전/가구/홈인테리어  M   40   177  2019  12  52
21781 2019-12-29  가전/가구/홈인테리어  M   40   687  2019  12  52
21782 2019-12-29  가전/가구/홈인테리어  M   40     5  2019  12  52
21783 2019-12-29  가전/가구/홈인테리어  M   50    28  2019  12  52

[20620 rows x 8 columns]

In [69]:
online_all=online_all[['소비일자','년도','월','주','업종','성별','연령대','소비건수']]
online_all

            소비일자    년도  월   주           업종  성별  연령대  소비건수
0     2019-01-01  2019  1   1  가전/가구/홈인테리어   F   10    13
1     2019-01-01  2019  1   1  가전/가구/홈인테리어   F   10     1
2     2019-01-01  2019  1   1  가전/가구/홈인테리어   F   10     8
3     2019-01-01  2019  1   1  가전/가구/홈인테리어   F   10     1
4     2019-01-01  2019  1   1  가전/가구/홈인테리어   F   20   381
...          ...   ... ..  ..          ...  ..  ...   ...
32538 2020-06-28  2020  6  78  가전/가구/홈인테리어   M   80     1
32539 2020-06-28  2020  6  78  가전/가구/홈인테리어   M   80     1
32540 2020-06-28  2020  6  78  가전/가구/홈인테리어  없음    0    43
32541 2020-06-28  2020  6  78  가전/가구/홈인테리어  없음    0    61
32542 2020-06-28  2020  6  78  가전/가구/홈인테리어  없음    0    74

[1672625 rows x 8 columns]

In [72]:
online_all.isnull().sum()

소비일자    0
년도      0
월       0
주       0
업종      0
성별      0
연령대     0
소비건수    0
dtype: int64

# 최대 소비품목 알아보기 (TOP 10)